.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
}

.card-container {
  margin: 20px;
  text-indent: 15%;
  font-size: 130%;
  cursor: pointer;
}

.pokemon-detail {
  display: flex;
  flex-direction: column;
}

.detail-name-container {
  display: flex;
  margin-left: 13%;
  text-align: center;
}

.detail-name {
  padding-right: 10%;
  margin-right: 5%;
  border: 5px solid blue;
  border-radius: 20%;
  font-size: 20px;
}

.card {
  width: 11rem;
}
