* {
  font-family: "Itim", cursive;
  color: #bbbbbb;
}

.App {
  text-align: center;
  background-image: url("../images/background.jpg");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerStlye {
  position: relative;
  width: auto;
  background: cornflowerblue;
  image-rendering: auto;
  image-orientation: inherit;
}

.footerStyle {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: "#f3f3f3";
  color: black;
  text-align: center;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5%;
}

.profilepicture {
  color: blue;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(https://www.pinclipart.com/picdir/middle/447-4473590_random-png-transparent-background-imagenes-random-png-clipart.png);
  background-size: cover;
}
