.profile-picture {
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 400px;
  background-color: grey;
  border-radius: 15px;
}

.button-container {
  width: 100%;
}

.button {
  border: 1px solid green;
  backdrop-filter: blur(10px);
  height: 50px;
  width: 200px;
  position: relative;
  display: inline-block;
  align-items: flex-start;
  justify-content: center;
  transition: all 0.3s ease;
  font: 15px sans-serif;
  font-weight: 300;
  text-shadow: 0 0 20px #fff;
  text-transform: uppercase;
  animation: breath2 2s 0.5s infinite alternate;
  transition: all 0.2s ease;
  cursor: pointer;
}

.button.previous {
  float: left;
}

.button.next {
  float: right;
}

.pokemon-name {
  display: inline-block;
  max-width: 300px;
}
