.profile-picture {
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 400px;
  background-color: grey;
  border-radius: 15px;
}

.button-container {
  width: 100%;
}

.box {
  position: relative;
  width: 240px;
  height: 240px;
  display: inline-block;
  border-radius: 8px;
  overflow: hidden;
  margin: 15px;
  border: 2px solid #fff;
}
img {
  width: 100%;
  transition: all linear 0.35s;
}
img.hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.box:hover img {
  opacity: 0;
}
.box:hover img.hover-img {
  opacity: 1;
}

.button {
  border: 1px solid green;
  backdrop-filter: blur(10px);
  height: 50px;
  width: 200px;
  position: relative;
  display: inline-block;
  align-items: flex-start;
  justify-content: center;
  transition: all 0.3s ease;
  font: 15px sans-serif;
  font-weight: 300;
  text-shadow: 0 0 20px #fff;
  text-transform: uppercase;
  animation: breath2 2s 0.5s infinite alternate;
  transition: all 0.2s ease;
  cursor: pointer;
}

.button.previous {
  float: left;
}

.button.next {
  float: right;
}

.pokemon-name {
  display: inline-block;
  font-size: 40px;
  font-weight: bolder;
}

.pokemon-id {
  display: inline-block;
  font-size: 40px;
  font-weight: bolder;
  margin-left: 35px;
}
